@model Optica_ASP.Models.UpdateViewModel
@{
    Layout = "../ManageAccount/_LayoutAccount.cshtml";
    ViewBag.Title = "Administrar Usuarios";
}

@using (Html.BeginForm("AdminUpdateUser", "ManageAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <p class="text-danger">@ViewBag.Message</p>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.RoleName, new { @class = "col-md-4 control-label" })
                <div class="col-md-8 max-width">
                    @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", @readonly = "readonly"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Nombre, new {@class = "col-md-4 control-label"})
                <div class="col-md-8 max-width">
                    @Html.TextBoxFor(m => m.Nombre, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Apellido, new {@class = "col-md-4 control-label"})
                <div class="col-md-8 max-width">
                    @Html.TextBoxFor(m => m.Apellido, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.TipoDocumento, new {@class = "col-md-4 control-label"})
                <div class="col-md-8 max-width">
                    @Html.DropDownListFor(m => m.TipoDocumento, new SelectList(ViewBag.DTypes, "Value", "Text"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Documento, new {@class = "col-md-4 control-label"})
                <div class="col-md-8 max-width">
                    @Html.TextBoxFor(m => m.Documento, new {@class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.FechaNacimiento, new {@class = "col-md-4 control-label"})
                <div class="col-md-8 max-width">
                    @Html.EditorFor(m => m.FechaNacimiento, new {htmlAttributes = new {@class = "form-control" } })
                </div>      
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new {@class = "col-md-4 control-label"})
                <div class="col-md-8 max-width">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                </div>
            </div>
            @if (Model.RoleName == "Medico")
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Entidad, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8 max-width">
                        @Html.DropDownListFor(m => m.Entidad, new SelectList(ViewBag.Entity, "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
            }
            <div class="form-group">
                <a href='@Url.Action("AdminUsers", "ManageAccount")' class="col-md-4">Volver</a>
                <a href='@Url.Action("AdminChangePassword", "ManageAccount", new {email = Model.Email})' class="col-md-8">Cambiar la contraseña</a>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-2">
                    <input type="submit" value="Actualizar" class="btn btn-default"/>
                </div>
                @if (ViewBag.Enabled)
                {
                    <a href='@Url.Action("AdminEnabledUser", "ManageAccount", new {enabled = false})' class="btn btn-warning">Deshabilitar</a>
                }
                else
                {
                    <a href='@Url.Action("AdminEnabledUser", "ManageAccount", new {enabled = true})' class="btn btn-success">Habilitar</a>
                }
                <a href='@Url.Action("AdminDeleteUser", "ManageAccount", new {email = Model.Email})' class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
}