@model Optica_ASP.Models.Historial
@{
    Layout = "../ManageAccount/_LayoutAccount.cshtml";
    ViewBag.Title = "Agregar Registro";
}
@using (Html.BeginForm("CreateHistorial", "ManageAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-horizontal">
        <h3>Paciente</h3>
        <div class="form-group">
            @Html.LabelFor(m => m.Paciente.UserData.TipoDocumento, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9 max-width">
                @Html.DropDownListFor(m => m.Paciente.UserData.TipoDocumento, new SelectList(ViewBag.DTypes, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Paciente.UserData.Documento, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9 max-width">
                @Html.TextBoxFor(m => m.Paciente.UserData.Documento, new { @class = "form-control" })
            </div>
        </div>
        <h3>Registro</h3>
        <div class="form-group">
            @Html.LabelFor(model => model.Registro.Descripcion, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Registro.Descripcion, new { @class = "form-control", rows = "4"})
                @Html.ValidationMessageFor(model => model.Registro.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Registro.Resultado, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Registro.Resultado, new { @class = "form-control", rows = "4"} )
                @Html.ValidationMessageFor(model => model.Registro.Resultado, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Registro.Tratamiento, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Registro.Tratamiento, new { @class = "form-control", rows = "4"} )
                @Html.ValidationMessageFor(model => model.Registro.Tratamiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Historial")
</div>
