@model Optica_ASP.Models.Historial
@{
    Layout = "../ManageAccount/_LayoutAccount.cshtml";
    ViewBag.Title = "Historial";
}
<div>
    <table class="table table-bordered">
        <tr>
            <th colspan="12" style="text-align: center" class="active">HISTORIAL</th>
        </tr>
        <tr>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Medico.Entidad)</b></td>
            <td colspan="2">@Html.DisplayFor(m => m.Medico.Entidad.Nombre)</td>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Medico.Entidad.Direccion)</b></td>
            <td colspan="2">@Html.DisplayFor(m => m.Medico.Entidad.Direccion)</td>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Fecha)</b></td>
            <td colspan="2">@Html.DisplayFor(m => m.Fecha)</td>
        </tr>
        <tr>
            <td colspan="6" style="text-align: center;" class="active">Paciente</td>
            <td colspan="6" style="text-align: center;" class="active">Medico</td>
        </tr>
        <tr>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Paciente.UserData.Nombre)</b></td>
            <td colspan="4">@Html.DisplayFor(m => m.Paciente.UserData.Nombre)</td>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Medico.UserData.Nombre)</b></td>
            <td colspan="4">@Html.DisplayFor(m => m.Medico.UserData.Nombre)</td>
        </tr>
        <tr>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Paciente.UserData.Documento)</b></td>
            <td colspan="4">@Html.DisplayFor(m => m.Paciente.UserData.Documento)</td>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Medico.UserData.Documento)</b></td>
            <td colspan="4">@Html.DisplayFor(m => m.Medico.UserData.Documento)</td>
        </tr>
        <tr>
            <td colspan="12" style="text-align: center;" class="active">Registro</td>
        </tr>
        <tr>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Registro.Descripcion)</b></td>
            <td colspan="10">@Html.DisplayFor(m => m.Registro.Descripcion)</td>
        </tr>
        <tr>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Registro.Resultado)</b></td>
            <td colspan="10">@Html.DisplayFor(m => m.Registro.Resultado)</td>
        </tr>
        <tr>
            <td colspan="2"><b>@Html.DisplayNameFor(m => m.Registro.Tratamiento)</b></td>
            <td colspan="10">@Html.DisplayFor(m => m.Registro.Tratamiento)</td>
        </tr>
    </table>
</div>
@Html.ActionLink("Volver","Historial")
